<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.jxnu.mapper.AppraiseMapper">

    <resultMap id="appraise" type="appraise">
        <id property="appraiseId" column="appraise_id"></id>
        <result property="orderId" column="order_id"></result>
        <result property="anonymous" column="anonymous"></result>
        <result property="appraise" column="appraise"></result>
        <result property="appraiseStart" column="appraise_start"></result>
        <result property="appraiseTime" column="appraise_time"></result>
        <collection property="order" ofType="order">
            <id property="orderId" column="order_id"></id>
            <result property="userId" column="user_id"></result>
            <result property="merchandiseId" column="merchandise_id"></result>
            <result property="orderMerchandiseQuantity" column="order_merchandise_quantity"></result>
            <result property="merchandiseSpecifications" column="merchandise_specifications"></result>
            <result property="orderTime" column="order_time"></result>
            <result property="consigneeName" column="consignee_name"></result>
            <result property="consigneeAddr" column="consignee_addr"></result>
            <result property="consigneeTelephone" column="consignee_telephone"></result>
            <result property="consigneeRemark" column="consignee_remark"></result>
            <result property="consigneePostalCode" column="consignee_postal_code"></result>
            <result property="orderState" column="order_state"></result>
            <collection property="user" ofType="user">
                <id property="userId" column="user_id"></id>
                <result property="userName" column="user_name"></result>
                <result property="password" column="password"></result>
                <result property="sex" column="sex"></result>
                <result property="birthday" column="birthday"></result>
                <result property="email" column="email"></result>
                <result property="telephone" column="telephone"></result>
                <result property="introduce" column="introduce"></result>
                <result property="state" column="state"></result>
            </collection>
            <collection property="merchandise" ofType="merchandise">
                <id property="merchandiseId" column="merchandise_id"></id>
                <result property="storeId" column="store_id"></result>
                <result property="merchandiseName" column="merchandise_name"></result>
                <result property="merchandiseMainImage" column="merchandise_main_image"></result>
                <result property="merchandiseParticularsImage" column="merchandise_particulars_image"></result>
                <result property="merchandiseIntroduce" column="merchandise_introduce"></result>
                <result property="merchandiseParameter" column="merchandise_parameter"></result>
                <result property="merchandiseSpecifications" column="merchandise_specifications"></result>
                <result property="merchandisePrice" column="merchandise_price"></result>
                <result property="merchandiseQuantity" column="merchandise_quantity"></result>
                <result property="merchandiseState" column="merchandise_state"></result>
                <result property="operaTime" column="opera_time"></result>
            </collection>
        </collection>
    </resultMap>

    <sql id="selectDefault">
        select *
        from `appraise` order by `appraise`.appraise_time desc
    </sql>

    <select id="query" resultMap="appraise">
        <!--引用已定义的默认sql语句-->
        <include refid="selectDefault"></include>
    </select>

    <select id="queryByMerchandiseId" resultMap="appraise">
        select *
        from `appraise`
                 left outer join `order` on appraise.order_id = order.order_id
                 left outer join `user` on order.user_id = `user`.user_id
        where `order`.merchandise_id = #{merchandiseId}
        order by `appraise`.appraise_time desc
    </select>

</mapper>